<div class="container">
  <h2>View vehicle {{vehicle.id}}</h2>
  <ngb-tabset [destroyOnHide]="false">
    <ngb-tab title="Vehicle">
      <ng-template ngbTabContent>
        <p class="font-weight-bold">Basic info</p>
        <ul>
          <li>Make: {{vehicle.make.name}}</li>
          <li>Model: {{vehicle.model.name}}</li>
          <li>Registered: {{vehicle.isRegistered?"Yes":"No"}}</li>
        </ul>
        <p class="font-weight-bold">Features</p>
        <ul>
          <div *ngFor="let feature of features">
            <li *ngIf="vehicle.features.includes(feature.id)">
              {{feature.name}}
            </li>
          </div>
        </ul>
        <p class="font-weight-bold">Contact info</p>
        <ul>
          <li>Contact name: {{vehicle.contact.name}}</li>
          <li>Contact email: {{vehicle.contact.email}}</li>
          <li>Contact phone: {{vehicle.contact.phone}}</li>
        </ul>
        <a routerLink="/vehicles/edit/{{vehicle.id}}"><button class="btn btn-primary mr-2">Edit</button></a>
        <button class="btn btn-danger mr-2" type="button" (click)="delete()">Delete</button>
        <a routerLink="/vehicles"><button class="btn btn-secondary mr-2">View all vehicles</button></a>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle>Photos</ng-template>
      <ng-template ngbTabContent>
        <input type="file" (change)="uploadPhoto()" #fileInput>
        <div class="progress" *ngIf="progress">
          <div class="progress-bar" [style.width]="progress + '%'">{{progress}}%</div>
        </div>
        <div class="mx-auto">
          <img *ngFor="let photo of photos" src="uploads/{{photo.fileName}}" class="img-thumbnail">
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
